# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
name: Build and deploy ASP.Net Core app to Azure Web App - dsp-dev-024-15m-g1-sailingloc-api

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      # --- Build uniquement l'API, pas toute la solution ---
      - name: Restore dependencies
        run: dotnet restore ./src/Api/Api.csproj

      - name: Build API
        run: dotnet build ./src/Api/Api.csproj --configuration Release --no-restore

      - name: Publish API
        run: dotnet publish ./src/Api/Api.csproj -c Release -o ./publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: api_artifact
          path: ./publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: api_artifact
          path: ./publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_68CD7B7AB8A2410DA3812B8D47555617 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_82D72ACBD98D41BD93F1A6E9835B92B2 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_5C70CF1BA5CF439CAA21E1ED6C9E9E2D }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'dsp-dev-024-15m-g1-sailingloc-api'
          slot-name: 'Production'
          package: ./publish


          
